name: Backend Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name : Install uv
        run : pip install uv

      - name : Install dependencies
        run : |
          cd backend
          uv sync

      - name: Run test
        run : |
          cd backend 
          uv run pytest